build_src/chromium-*/
build_src/*.tar.xz
build_src/*.tar.gz
build_src/gn_bin/
build_src/depot_tools
build_src/ungoogled-chromium
build/
*.profdata
*.o
*.a
*.so
*.dylib
*.dll
.DS_Store
*.swp
*.swo
*~
*.log
